#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
}

/* For tablets */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .card {
    flex-direction: column;
  }
}

/* For iPad in portrait & landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card {
      flex-direction: column;
    }
}

/* For iPad in landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card {
      flex-direction: column;
    }
}

/* For iPad in portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card {
      flex-direction: column;
    }
}